<%= form_with(model: committee, local: true) do |form| %>
  <% if committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% committee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :propublica_id %>
    <%= form.text_field :propublica_id, id: :committee_propublica_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :committee_name %>
  </div>

  <div class="field">
    <%= form.label :chamber %>
    <%= form.text_field :chamber, id: :committee_chamber %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :committee_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
