<p id="notice"><%= notice %></p>

<p>
  <strong>Propublica:</strong>
  <%= @commitee.propublica_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @commitee.name %>
</p>

<p>
  <strong>Chamber:</strong>
  <%= @commitee.chamber %>
</p>

<p>
  <strong>Url:</strong>
  <%= @commitee.url %>
</p>

<%= link_to 'Edit', edit_commitee_path(@commitee) %> |
<%= link_to 'Back', commitees_index_path %>
