<%= form_with(model: commitee, local: true) do |form| %>
  <% if commitee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commitee.errors.count, "error") %> prohibited this commitee from being saved:</h2>

      <ul>
      <% commitee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :propublica_id %>
    <%= form.text_field :propublica_id, id: :commitee_propublica_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :commitee_name %>
  </div>

  <div class="field">
    <%= form.label :chamber %>
    <%= form.text_field :chamber, id: :commitee_chamber %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :commitee_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
