<p id="notice"><%= notice %></p>

<p>
  <strong>Propublica:</strong>
  <%= @representative.propublica_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @representative.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @representative.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @representative.last_name %>
</p>

<%= link_to 'Edit', edit_representative_path(@representative) %> |
<%= link_to 'Back', representatives_path %>
